body { 
	margin: 0; 
	padding: 0; 
	font: 1em "Trebuchet MS", verdana, arial, sans-serif; font-size: 100%;
	background: #bbb;
}

div.container { 
	margin: auto; 
	width: 80%; 
}

.active {
	color: white;
	background-color: black;
}

h1 {
	text-shadow: 0 1px 0 #eee;
	
}
ul.tabNavigation {
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}

ul.tabNavigation li {
    display: inline;
	margin: 0;
}

ul.tabNavigation li a {
    padding: 10px 10px 0 10px;
    background-color: #ddd;
    color: #000;
	transition: background-color 600ms;
    text-decoration: none;
	border: 1px solid #888;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

ul.tabNavigation li a:hover {
	background-color: #eee;
}	

ul.tabNavigation li a.selected {
    background-color: #000;
    color: #FFF;
	border-bottom: 1px solid #FFF;
}
	
ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs > div {
	padding: 25px;
	border: 1px solid #888;
    background-color: #FFF;
	border-radius: 5px;
}

div.tabs > div h2 {
	margin-top: 0;
}
		
.waste {
	min-height: 1000px;
}
